<h1>Question time...</h1>

<div class="well">
  <div class="alert hide"></div>
  <p><%= question %></p>

  <form>
    <div class="form-group">
      <input id="answer" type="text" name="answer" class="form-control" />
    </div>
    <input id="submit-button" type="submit" value="Submit answer" class="btn btn-default" />
  </form>
</div>
